<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Servlet for students DB</display-name>

    <servlet>
        <servlet-name>GetAllStudents</servlet-name>
        <servlet-class>innopolis.controllers.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllStudents</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddStudentToDb</servlet-name>
        <servlet-class>innopolis.controllers.StudentAddToDbServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentToDb</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>innopolis.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

</web-app>